<footer style="margin-top:100px">
    <div class="container">
      <p class="text-center" style = "font-weight: bold;">尚硅谷--大前端出品 Copyright © 2004 - 2022 </p>
    </div>
  </footer>
  </body>
  </html>