<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Hero - Admin</title>
		<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />
	</head>

	<body>
		<header>
			<div class="page-header container">
				<h1 class="text-center"><a href="/" style="text-decoration: none">英雄管理器</a><small>隋唐演义</small></h1>
				<a class="btn btn-danger pull-right" href="/logout">退出</a>
			</div>
		</header>
	</body>
</html>
